geckodriver.log
env
users.json
User_Data/
profile_pictures/
raw_contacts.txt
*.bakk
volume/screenie3.png
qr_code.png
__pycache__/
insert_users.py
whatsfeed_mariadb.session.sql
config.json

node_modules/
.wwebjs_cache/
.wwebjs_auth/
node_modules/
