<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Instagram-like Feed</title>
</head>

<body class="dark-mode">
    <div class="container">
        <div class="header">
            <h1>Instagram-like Feed</h1>
            <div class="toggle-mode">
                <a href="#" id="toggle-mode">Toggle Dark Mode</a>
            </div>
        </div>

        <div class="feed">
            {% for timestamp, item in data %}
            <div class="post">
                <p><a class='username' href="/{{ item ['name']}}">{{ item['name'] }}</a> </p>
                <p>{{ item['timestamp_human'] }}</p>

                {% if item['status'] %}
                <p>Status: {{ item['status'] }}</p>
                {% endif %}

                {% if item['picture_id'] %}
                <img src="static/images/profile_pictures/{{ item['name'] }}/{{ item['name'] }}_{{ item['picture_id'] }}.jpg"
                    alt="Profile Picture">
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>


    <script>
        const toggleModeLink = document.getElementById('toggle-mode');
        const body = document.body;

        toggleModeLink.addEventListener('click', function () {
            body.classList.toggle('dark-mode');
        });
    </script>
</body>

</html>
