<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile: {{ username }}</h1>

    <h2>Statuses:</h2>
    <ul>
        {% for timestamp, status in data.statuses.items() %}
            <li>{{ timestamp }}: {{ status }}</li>
        {% endfor %}
    </ul>

    <h2>Pictures:</h2>
    <ul>
        {% for timestamp, picture_path in data.profile_pictures.items()|reverse %}
            <li><img src="../static/images/profile_pictures/{{ username }}/{{ username}}_{{ picture_path }}.jpg" alt="Profile Picture" width="200px"></li>
        {% endfor %}
    </ul>
</body>
</html>
