<!DOCTYPE html>
<html>

<head>
    <title>User Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
</head>

<body>
    <div class="container">
        <div class="pictures">
            <h2>Pictures:</h2>
            {% for timestamp, picture_path in data.profile_pictures.items()|reverse %}
            <div class="post">
                <div class="time_of_post">{{ timestamp_conversions[timestamp] }}</div>
                <img src="../static/images/profile_pictures/{{ username }}/{{ username }}_{{ picture_path }}.jpg"
                    alt="Profile Picture" width="640px">
            </div>
            {% endfor %}
        </div>

        <div class="statuses">
            <h2>Statuses:</h2>
            {% for timestamp, status in data.statuses.items()|reverse %}
            <div class="post">
                <div class="time_of_post">{{ timestamp_conversions[timestamp] }}</div>
                <div class="status">{{ status }} </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>